<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" v-for="department in departments">{{ department.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="employee in staff">
                <th scope="row">{{ employee.name + ' ' + employee.surname}}</th>
                <th scope="col" v-for="department in departments">
                    <span v-if="employee.departments_id.includes(department.id)">+</span>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default ({
        data() {
            return{
                departments: null,
                staff: null
            }
        },
        mounted() {
            axios
                .get('http://test.loc/api/v1')
                .then(response => (
                    this.departments =  response.data.departments,
                    this.staff =  response.data.staff
                ));
        }
    });
</script>
